<a href="https://github.com/arawkins" class="icon github">Github</a>
<a href="https://www.linkedin.com/in/alan-rawkins-096394143" class="icon linkedin">LinkedIn</a>
<a href="mailto:alan@rawkins.com" class="icon email">email</a>
