<!doctype html>

<html lang="en">

<head>
    {% include 'meta' %}
    <title>{{ title }} | Alan Rawkins</title>
    <link rel="stylesheet" href="/css/horizontal.css?v=1.0">
</head>

<body>
    <section class="interior">
        <header>
            <h1><a href="/">Alan Rawkins</a></h1>
            <nav class="horizontal">
                {% include 'nav-main' %}
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>Alan Rawkins<br>{% include 'nav-main' %}</p>
            <p class="social-nav">{% include 'nav-social' %}</p>
            <p>Made with <a href="https://www.11ty.dev/">eleventy</a></p>
        </footer>

    </section>

    {% include 'scripts' %}

</body>

</html>
