$bg-color: #25274d;
$web-color: #2d9cca;
$games-color: #29658a;
$writing-color: #474866;
$text-color: #c5c8c6;
$github-icon-filename: "icon-github-light.png";
$linkedin-icon-filename: "icon-linkedin-light.png";
$email-icon-filename: "icon-email-light.png";
$link-color: #fff;
