$bg-color: #272727;
$web-color: #ff652f;
$games-color: #ffe401;
$writing-color: #13a76b;
$text-color: #969696;
$github-icon-filename: "icon-github-light.png";
$linkedin-icon-filename: "icon-linkedin-light.png";
$email-icon-filename: "icon-email-light.png";
$link-color: #969696;
