$bg-color: #f7e7ce;
$web-color: #67d1b3;
$games-color: #00abe7;
$writing-color: #8abeb7;
$text-color: #100c08;
$github-icon-filename: "icon-github.png";
$linkedin-icon-filename: "icon-linkedin.png";
$email-icon-filename: "icon-email.png";
