$bg-color: #f8f9fb;
$web-color: #100c08;
$games-color: #100c08;
$writing-color: #100c08;
$text-color: #100c08;
$github-icon-filename: "icon-github.png";
$linkedin-icon-filename: "icon-linkedin.png";
$email-icon-filename: "icon-email.png";
$link-color:#00abe7;
