$bg-color: #f8f9fb;
$web-color: #5085a5;
$games-color: #8fc1e2;
$writing-color: #697865;
$text-color: #333;
$github-icon-filename: "icon-github.png";
$linkedin-icon-filename: "icon-linkedin.png";
$email-icon-filename: "icon-email.png";
$link-color:#31708f;
