$bg-color: #f1f0eb;
$web-color: #c5cbe3;
$games-color: #d79922;
$writing-color: #f13c1f;
$text-color: #4b4a45;
$github-icon-filename: "icon-github.png";
$linkedin-icon-filename: "icon-linkedin.png";
$email-icon-filename: "icon-email.png";
$link-color:#4056a1;
