<!doctype html>

<html lang="en">

<head>
    {% include 'meta' %}
    <link rel="stylesheet" href="/css/horizontal.css?v=1.0">
</head>

<body>
    <section class="interior">
        <header>
            <h1>Alan Rawkins</h1>
            <nav class="horizontal">
                {% include 'nav-main' %}
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

w
    </section>
    {% include 'scripts' %}

</body>

</html>
