---
title: "Webdev"
layout: "interior.liquid"
---
<p>I have been working as a web designer and developer since 2001. I’ve had the chance to work on a wide variety of different projects. I’ve listed a bunch of them below; unfortunately much of the stuff I’ve worked on is no longer online, but I do
    still have screenshots! In cases where the sites are still online, I’ve provided high end web links to whisk you across the internet to view them directly.</p>
<h2>Spark Design Co. (2008-2018)</h2>
<p>The bulk of my most recent work was done for the company Spark Design Co., a web design and marketing firm based in Smithers, BC, Canada. On most of these projects, I was responsible for front end and back end coding, building css and html templates and integrating them with customized CMS installations,
    primarily using Expression Engine CMS. I also did mobile development, responsive design, member management systems with private/protected content, secure forms, e-commerce, and much more.</p>
<ul class="project-summaries">
    <li><a href="http://yukonconservation.org/" target="_blank"><img src="/gfx/screenshots/web/spark/ycs.jpg" alt="Yukon Conservation Society"></a></li>
    <li><a href="http://protectpeel.ca/" target="_blank"><img src="/gfx/screenshots/web/spark/protectthepeel.jpg" alt="Protect the Peel"></a></li>
    <li><a href="http://daudetcreek.com/" target="_blank"><img src="/gfx/screenshots/web/spark/daudet.jpg" alt="Daudet Creek Contracting"></a></li>
    <li><a href="http://bvcu.com/" target="_blank"><img src="/gfx/screenshots/web/spark/bvcu.jpg" alt="Bulkley Valley Credit Union"></a></li>
    <li><a href="http://www.silverhilton.com/" target="_blank"><img src="/gfx/screenshots/web/spark/silverhilton.jpg" alt="Silver Hilton Steelhead Lodge"></a></li>
    <li><a href="https://www.skeenaheliskiing.com/" target="_blank"><img src="/gfx/screenshots/web/spark/skeenaheli.jpg" alt="Skeena Heli Skiing"></a></li>
    <li><a href="http://smithers.ca" target="_blank"><img src="/gfx/screenshots/web/spark/townofsmithers.jpg" alt="Town of Smithers"></a></li>
    <li><a href="http://totalphysio.ca" target="_blank"><img src="/gfx/screenshots/web/spark/totalphysio.jpg" alt="Total Physio"></a></li>
    <li><a href="http://bvbia.ca" target="_blank"><img src="/gfx/screenshots/web/spark/bvbia.jpg" alt="Bulkley Valley Brain Injury Association"></a></li>
    <li><a href="http://fnfnes.ca" target="_blank"><img src="/gfx/screenshots/web/spark/fnfnes.jpg" alt="First Nations Food, Nutrition & Environment Study"></a></li>
    <li><a href="http://smitherslumber.com/" target="_blank"><img src="/gfx/screenshots/web/spark/smitherslumber.jpg" alt="Smithers Lumber Yard"></a></li>
    <li><a href="http://yxt.ca" target="_blank"><img src="/gfx/screenshots/web/spark/yxt.jpg" alt="YXT Airport"></a></li>
    <li><a href="http://massetbc.com/" target="_blank"><img src="/gfx/screenshots/web/spark/masset.jpg" alt="Village of Masset"></a></li>
    <li><a href="http://sparkdesignco.com" target="_blank"><img src="/gfx/screenshots/web/spark/spark.jpg" alt="Spark Design Co."></a></li>
</ul>
<h3>Offline Spark Projects</h3>
<p>The following projects are no longer online, or have since been updated or revised by other developers. The screenshots below show the sites as they appeared when I worked on them.</p>
<ul class="project-summaries gallery-spark">
    <li><a href="/gfx/screenshots/web/spark/ravenrescue-large.jpg"><img src="/gfx/screenshots/web/spark/ravenrescue.jpg" alt="Raven Rescue"></a></li>
    <li><a href="/gfx/screenshots/web/spark/beplantwise-large.jpg"><img src="/gfx/screenshots/web/spark/beplantwise.jpg" alt="Be Plantwise"></a></li>
    <li><a href="/gfx/screenshots/web/spark/bluefin-large.jpg"><img src="/gfx/screenshots/web/spark/bluefin.jpg" alt="Blue Fin Sushi"></a></li>
    <li><a href="/gfx/screenshots/web/spark/districtofstewart-large.jpg"><img src="/gfx/screenshots/web/spark/districtofstewart.jpg" alt="District of Stewart"></a></li>
    <li><a href="/gfx/screenshots/web/spark/districtoftaylor-large.jpg"><img src="/gfx/screenshots/web/spark/districtoftaylor.jpg" alt="District of Taylor"></a></li>
    <li><a href="/gfx/screenshots/web/spark/fnehin-large.jpg"><img src="/gfx/screenshots/web/spark/fnehin.jpg" alt="FNEHIN"></a></li>
    <li><a href="/gfx/screenshots/web/spark/heartstrings-large.jpg"><img src="/gfx/screenshots/web/spark/heartstrings.jpg" alt="Heartstrings Decor"></a></li>
    <li><a href="/gfx/screenshots/web/spark/iscbc-large.jpg"><img src="/gfx/screenshots/web/spark/iscbc.jpg" alt="ISCBC"></a></li>
    <li><a href="/gfx/screenshots/web/spark/skiandstay-large.jpg"><img src="/gfx/screenshots/web/spark/skiandstay.jpg" alt="Ski and Stay"></a></li>
    <li><a href="/gfx/screenshots/web/spark/cccipc-large.jpg"><img src="/gfx/screenshots/web/spark/cccipc.jpg" alt="CCCIPC"></a></li>
</ul>
<h2>University of Guelph (2006-2007)</h2>
<p>I served as a staff Web Designer at the University of Guelph, where I worked on a variety of internal website projects, including a historical walking tour, fundraising initiatives, and updates to the University homepage. Web standards and accessibility were a must.  I was also responsible for general maintenance of the website homepage, and supporting staff throughtout the university with their website initiatives. Below are a some samples of a few of the projects I worked on.</p>
<ul class="project-summaries gallery-uofg">
    <li><a href="/gfx/screenshots/web/uofg/walking-tour-large.jpg"><img src="/gfx/screenshots/web/uofg/walking-tour.jpg" alt="Historical Walking Tour"></a></li>
    <li><a href="/gfx/screenshots/web/uofg/uoguelph-chancellor-search-large.jpg"><img src="/gfx/screenshots/web/uofg/uoguelph-chancellor-search.jpg" alt="Chancellor Search"></a></li>
    <li><a href="/gfx/screenshots/web/uofg/bracelet-of-hope-large.jpg"><img src="/gfx/screenshots/web/uofg/bracelet-of-hope.jpg" alt="Bracelet of Hope"></a></li>
</ul>
<h2>Netfirms Inc. (2006)</h2>
<p>I worked at the web hosting company Netfirms in early 2006. I had the opportunity to work on a wide variety of projects, including company websites, marketing materials, print and web advertisements, and training publications.</p>
<ul class="project-summaries gallery-netfirms">
    <li><a href="/gfx/screenshots/web/netfirms/netfirms-hosting-large.jpg"><img src="/gfx/screenshots/web/netfirms/netfirms-hosting.jpg" alt="Netfirms Hosting"></a></li>
    <li><a href="/gfx/screenshots/web/netfirms/netfirms-reseller-large.jpg"><img src="/gfx/screenshots/web/netfirms/netfirms-reseller.jpg" alt="Netfirms Reseller Hosting"></a></li>
    <li><a href="/gfx/screenshots/web/netfirms/netfirms-magazine-ad-large.jpg"><img src="/gfx/screenshots/web/netfirms/netfirms-magazine-ad.jpg" alt="Netfirms Magazine Ad Hosting"></a></li>
    <li><a href="/gfx/screenshots/web/netfirms/netfirms-manual-large.jpg"><img src="/gfx/screenshots/web/netfirms/netfirms-manual.jpg" alt="Netfirms Manual"></a></li>
</ul>
<h2>Best Buy Canada (2005)</h2>
<p>As a contract employee at Best Buy Canada, I was initially hired to assist with a full website translation of bestbuy.ca, from English to French. I did not actually have to translate the language; only to take the translated text, and use it recreate the many, many, many images and graphics on the site. Once the translation project was finished, I stayed on a continued to work on a variety of company projects, including maintenance of the website homepage (we called it "Weekly"), and special promotional sites for specific products. This was definitely the most corporate job I've ever worked, and the only time I got to work in a genuine cubicle. There was even a company cafeteria! I also met some great people here. </p>
<ul class="project-summaries gallery-bestbuy">
    <li><a href="/gfx/screenshots/web/bestbuy/ep3-large.jpg"><img src="/gfx/screenshots/web/bestbuy/ep3.jpg" alt="Star Wars Episode 3 Best Buy"></a></li>
    <li><a href="/gfx/screenshots/web/bestbuy/nhl_06-large.jpg"><img src="/gfx/screenshots/web/bestbuy/nhl_06.jpg" alt="NHL 06 Best Buy"></a></li>
    <li><img src="/gfx/screenshots/web/bestbuy/home_july_01.jpg" alt="Best Buy Homepage July 1"></li>
    <li><img src="/gfx/screenshots/web/bestbuy/group_phones.jpg" alt="Home Phones"></li>
</ul>

<h2>BC Web (2001-2004)</h2>
<p>My first web job was at a company called BC Web, based in Smithers, BC, Canada. I had the chance to work on a wide variety of projects here, including brochures, posters, websites, business cards, and more. There was also an in-house internet cafe that we ran, and apple computer sales. Most of our clients were from across Northern BC. We did websites for tourism businesses, local governments, community organizations, and more. I learned a tonne here, it was a fantastic place to work.</p>

<ul class="project-summaries gallery-bcweb">
    <li><img src="/gfx/screenshots/web/bcweb/alpenhorn.jpg" alt="Alpenhorn pub and bistro"></li>
    <li><img src="/gfx/screenshots/web/bcweb/grant-webb.jpg" alt="Grant Webb Aerial Photography"></li>
    <li><img src="/gfx/screenshots/web/bcweb/alpinelakesair.jpg" alt="Alpine Lakes Air"></li>
    <li><img src="/gfx/screenshots/web/bcweb/mehr.jpg" alt="Edmison Mehr Accountants"></li>
    <li><img src="/gfx/screenshots/web/bcweb/nwdsn.jpg" alt="Northwest Data Sharing Network"></li>
    <li><img src="/gfx/screenshots/web/bcweb/choked.jpg" alt="Choked"></li>
    <li><img src="/gfx/screenshots/web/bcweb/creekstone.jpg" alt="Creekstone Press"></li>
    <li><img src="/gfx/screenshots/web/bcweb/bvbia.jpg" alt="Bulkley Valley Brain Injury Association"></li>
</ul>
