---
title: "Webdev"
layout: "interior.liquid"
---
<p>I have been working as a web designer and developer since 2001. I’ve had the chance to work on a wide variety of different projects. I’ve listed a bunch of them below; unfortunately much of the stuff I’ve worked on is no longer online, but I do still have screenshots! In cases where the sites are still online, I’ve provided high end web links to whisk you across the internet to view them directly.</p>
<h2>Spark Design Co. (2008-2018)</h2>
<p>The bulk of my most recent work was done for the company Spark Design Co. On most of these projects, I was responsible for front end and back end coding, building css and html templates and integrating them with customized CMS installations, primarily using Expression Engine CMS. I also did mobile development, responsive design, member management systems with private/protected content, secure forms, e-commerce, and much more.</p>
<ul class="project-summaries">
    <li><a href="http://yukonconservation.org/" target="_blank"><img src="/gfx/screenshots/web/spark/ycs.jpg" alt="Yukon Conservation Society"></a></li>
    <li><a href="http://protectpeel.ca/" target="_blank"><img src="/gfx/screenshots/web/spark/protectthepeel.jpg" alt="Protect the Peel"></a></li>
    <li><a href="http://daudetcreek.com/" target="_blank"><img src="/gfx/screenshots/web/spark/daudet.jpg" alt="Daudet Creek Contracting"></a></li>
    <li><a href="http://bvcu.com/" target="_blank"><img src="/gfx/screenshots/web/spark/bvcu.jpg" alt="Bulkley Valley Credit Union"></a></li>
    <li><a href="http://www.silverhilton.com/" target="_blank"><img src="/gfx/screenshots/web/spark/silverhilton.jpg" alt="Silver Hilton Steelhead Lodge"></a></li>
    <li><a href="https://www.skeenaheliskiing.com/" target="_blank"><img src="/gfx/screenshots/web/spark/skeenaheli.jpg" alt="Skeena Heli Skiing"></a></li>
    <li><a href="http://smithers.ca" target="_blank"><img src="/gfx/screenshots/web/spark/townofsmithers.jpg" alt="Town of Smithers"></a></li>
    <li><a href="http://totalphysio.ca" target="_blank"><img src="/gfx/screenshots/web/spark/totalphysio.jpg" alt="Total Physio"></a></li>
    <li><a href="http://bvbia.ca" target="_blank"><img src="/gfx/screenshots/web/spark/bvbia.jpg" alt="Bulkley Valley Brain Injury Association"></a></li>
    <li><a href="http://fnfnes.ca" target="_blank"><img src="/gfx/screenshots/web/spark/fnfnes.jpg" alt="First Nations Food, Nutrition & Environment Study"></a></li>
    <li><a href="http://smitherslumber.com/" target="_blank"><img src="/gfx/screenshots/web/spark/smitherslumber.jpg" alt="Smithers Lumber Yard"></a></li>
    <li><a href="http://yxt.ca" target="_blank"><img src="/gfx/screenshots/web/spark/yxt.jpg" alt="YXT Airport"></a></li>
    <li><a href="http://massetbc.com/" target="_blank"><img src="/gfx/screenshots/web/spark/masset.jpg" alt="Village of Masset"></a></li>
    <li><a href="http://sparkdesignco.com" target="_blank"><img src="/gfx/screenshots/web/spark/spark.jpg" alt="Spark Design Co."></a></li>
</ul>
<h3>Offline Spark Projects</h3>
<p>The following projects are no longer online, or have since been updated or revised by other developers. The screenshots below show the sites as they appeared when I worked on them.</p>
<ul class="project-summaries">
    <li><img src="/gfx/screenshots/web/spark/ravenrescue.jpg" alt="Raven Rescue"></li>
    <li><img src="/gfx/screenshots/web/spark/beplantwise.jpg" alt="Be Plantwise"></li>
    <li><img src="/gfx/screenshots/web/spark/bluefin.jpg" alt="Blue Fin Sushi"></li>
    <li><img src="/gfx/screenshots/web/spark/districtofstewart.jpg" alt="District of Stewart"></li>
    <li><img src="/gfx/screenshots/web/spark/districtoftaylor.jpg" alt="District of Taylor"></li>
    <li><img src="/gfx/screenshots/web/spark/fnehin.jpg" alt="FNEHIN"></li>
    <li><img src="/gfx/screenshots/web/spark/heartstrings.jpg" alt="Heartstrings Decor"></li>
    <li><img src="/gfx/screenshots/web/spark/iscbc.jpg" alt="ISCBC"></li>
    <li><img src="/gfx/screenshots/web/spark/skiandstay.jpg" alt="Ski and Stay"></li>
    <li><img src="/gfx/screenshots/web/spark/cccipc.jpg" alt="CCCIPC"></li>
</ul>
<h2>University of Guelph (2006-2007)</h2>
<p>I served as a staff Web Designer at the University of Guelph, where I worked on a variety of internal website projects, including a historical walking tour, fundraising initiatives, and updates to the University homepage. Web standards and accessibility were a must. </p>
