/* Common CSS styles
Includes font choice, and circle nav button styles
*/

@use 'themes/newspaper' as theme;

html {
    font-family: "Roboto Serif";
    background:theme.$bg-color;
    color:theme.$text-color;
    padding:0.5em 1em;
}

p, li {
    line-height:1.6em;
    font-size:1.2em;
    // font-family: "Times", "Times New Roman", serif;
}

.hidden {
    display:none;
    height:0;
    transition:height 2s;
}

.view-more {
    background:#EEE;
    padding:0.25em;
    color:theme.$link-color;
    cursor: pointer;
}

a {
    color: theme.$link-color;
}
.color_web {
    color:theme.$web-color;
}

.bg_color_web {
    background-color:theme.$web-color;
}

.color_games {
    color:theme.$games-color;
}

.bg_color_games {
    background-color:theme.$games-color;
}

.color_writing {
    color: theme.$writing-color;
}

.bg_color_writing {
    background-color: theme.$writing-color;
}


.circle {
    display:block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin:10px;
    font-size:0.8em;
    color:#100c08;
    font-weight:bold;
    width:65px;
    height:40px;
    padding-top:25px;
}

.large.circle {
    width:150px;
    height:85px;
    padding-top:65px;
    font-size:1.2em;
}

.rounded_square {
    padding:0.2em;
    color:theme.$bg-color;
    margin:0 0.25em;
    text-decoration:none;
    border-radius: 0.2em;
    font-weight: bold;
    font-size:1.1em;
}

.icon {
    width:45px;
    height:45px;
    margin:0 10px;
    color:#969896;
    text-indent:-9999em;
    background-size:100%;
    display:block;
}

.icon.github {
    background-image:url(../gfx/#{theme.$github-icon-filename});
}

.icon.linkedin {
    background-image:url(../gfx/#{theme.$linkedin-icon-filename});
}

.icon.email {
    background-image:url(../gfx/#{theme.$email-icon-filename});
}
